body{
  margin:0;
  font-family:Arial;
  background:linear-gradient(135deg,#020617,#0f172a);
  color:white;
}

.center{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:100vh;
}

input{
  margin:10px;
  padding:12px;
  width:200px;
  border:none;
  border-radius:10px;
}

button{
  padding:12px;
  border:none;
  border-radius:10px;
  background:linear-gradient(135deg,#38bdf8,#6366f1);
  color:white;
}

header{
  text-align:center;
  padding:20px;
}

.container{
  padding:20px;
  display:flex;
  flex-direction:column;
  gap:20px;
}

.card{
  background:rgba(255,255,255,0.05);
  padding:20px;
  border-radius:15px;
}

.price{
  color:#38bdf8;
  margin:10px 0;
}